%span.span-4
  .span-4#lead_box.club_background Club
  #header_box
    .span-4.meeting_background 
      = link_to "Meetings", meetings_path
    .span-4.member_background
      =link_to "Members", members_path
%span.span-16
  .span-16
    = render 'form'
  .span-2= link_to '(return)', @club
