%span.span-4
  .span-4#lead_box.club_background My Clubs
  .span-2= link_to '(Add a club)', new_club_path()
%span.span-16
  %span.span-16#lead_box= current_user.name 
  %span.span-5
    %table
      = render :partial => 'shared/club', :collection => @clubs
    = link_to "(+) New Club", new_club_path

