%h1 Role Types

%table.prepend-2
  %tr
    %th
    %th
    %th

  - @role_types.each do |role_type|
    %tr
      %td= link_to role_type.name, role_type

%br
.prepend-2
  = link_to '+ New role', new_role_type_path
