%span.span-4
  .span-4#lead_box.member_background Members
  /.span-4= link_to '(New Membership)', :action => "search"
%span.span-16
  .span-20#lead_box
    = link_to @club.name, @club, :style => 'text-decoration: none'
  .span-20#header_box Members
  %table
    = render :partial => 'member', :collection => @members
   
  .span-20#header_box Guests
  %table
    = render :partial => 'member', :collection => @guests


  .span-20#header_box Officers
  %table
    = render :partial => 'member', :collection => @officers
%br

