%h1 Sessions#new
%p Find me in app/views/sessions/new.html.haml
= form_tag do
  %fieldset
    %legend Please Log In
      .name
        %label= {:for => "name"} Name:
        = text_field_tag :name, params[:name]