%div{:type=>"text", :id=>"datepicker"} 
.span-4
  .edit_label.meeting_background Meeting
  .span-4#action_box
    = link_to '(remove)', @meeting,:confirm => "Are you sure?", :method => :delete
 
.span-18.last
  %p
  = render 'form'

/ = link_to 'Back', agendas_path
