%task
  = fields_for "template[plate_attributes][]", plate do |role_form|
    %p#entry
      Role: 
      = role_form.text_field :title
      / = link_to_function "remove", "$j('p', this).up('.plate').remove()"
      = link_to_function "remove", "var elem = this; $j(elem).parent().remove()"
      / = link_to_function "remove", "var elem = this; $j(elem).parent().css('border','1px solid #993300')"

