%H2 Dear {#member.name} - 

%h3 Welcome to TM Schedule Me!

%p You're on the road to helping your club meetings get organized and members present!

%p Your club's meetings and roles are now being posted online for all members to see and track.  At any time you can see upcoming meetings and membership status.

%p You'll find your club [here].

%p First thing to do? Confirm you e-mail address.

%p Click to follow this [link] or copy and paste this text into your browser.  This will let us know that we've gotten the right name. 

%p We're looking forward to helping simplify club management and make it easy for members to know when they have roles to fill.
