%H2 Dear {#member.name} - 

%h3 Welcome to TM Schedule Me!

%p Your club's meetings and roles are now being posted online for all members to see and track.  At any time you can see upcoming meetings and membership status.

%p You'll find your club [here].

%p First thing to do? Confirm you e-mail address and set your password. 

%p Click to follow this [link] or copy and paste this text into your browser.  This will give you the chance to pick a password for your own use and let us know that we've gotten the right name. 

%p Good luck with all of your roles and we look forward to helping your club get meetings organized and members present. 
