#member_background {
  background-color: #FFF4C0;
  
}

#agenda_background {
  background-color: #85A9CC;
}

#club_background {
  background-color: #959E38;
}

#role_background {
  background-color: #FFFFFF;
}

#header_box {
  font-size: 200%;
}