#member_background {
  background-color: #0B79D9;
  
}

#meeting_background {
  background-color: #F2E641;
}

#club_background {
  background-color: #5990D9;
}

#role_background {
  background-color: #FFFFFF;
}

#header_box {
  font-size: 200%;
}

#content_box {
  padding-top: 15px;
}

.side_entry {
  padding-left: 10px;
}