.member_background {
  background-color: #C19A7B;
}

.meeting_background {
  background-color: #F3933C;
}

.club_background {
  background-color: #88BEE4;
}

.role_background {
  background-color: #FFFFFF;
}

#header_box {
  font-size: 200%;
}
.edit_label {
  font-size: 150%;
}

#content_box {
  padding-top: 15px;
}

.side_entry {
  padding-left: 10px;
}

.font_pacifico {
  font-family: 'Pacifico', arial, serif; 
}

.font_droid_serif {
  font-family: 'Droid Serif', arial, serif;
}

.font_droid_serif_bold {
  font-family: 'Droid Serif Bold', arial, serif;
}

.site_title {
  color:  #0B79D9;
  font-size: 200%;
  border-bottom:thin solid #0B79D9;
  text-decoration:none;
}

#title_link{
  text-decoration: none;
}

.body {
  /* background-color: #8AB29F; */
}

.container {
  /* background-color: #F2E6CE; */
}

.log_in_bar {
  line-height: 3em;
  font-size:50%;
}