/TODO Implement the build club thing here

= form_for :club, @club, :url => {:controller => :users, :action => 'create_club', :id => @user.id} do |f|
  %fieldset
    %legend
      Enter Club Details
    .name
      = f.label :name
      = f.text_field :name
    .submit
      = f.submit "Save"