= content_for :top_title do
  = "TM Schedule Me"

.span-24
  .span-4#lead_box.club_background About
  .span-20.last
    %h2 TM Schedule is a club application designed by and for speakers 
    %p  Speaking at your club meetings and events is great - fun for everyone but the people who make sure you're speaking when you need about what you need to.
    %p  Use TM Schedule to simplify, track, and share your club's great activities!
