%h2 Toast Schedule Me

%p 
  Toastmasters gives you a great opportunity to change how you speak, 
  this application will help keep you and your club on track, on time and moving forward to the next goals.
%p 
  To get started, register as a member and then add your own club.  If your club is already using this site, contact one of your officers to get started using the site. 
%p
  Start a new club scheduler here.

= link_to "New Member", new_member_path