%h2 Toast Schedule Me

%p 
  Toastmasters gives you a great opportunity to change how you speak, 
  this application will help keep you and your club on track, on time and moving forward to the next goals.
  
%p 
  Start a new club scheduler here.

= link_to "New Club", new_club_path

