= content_for :top_title do
  = "TM Schedule Me"

.span-24
  .span-4#lead_box.club_background Clubs
  .span-20.last
    %h2 Manage and promote your club
    %p  TM Schedule makes it easy to manage your club in one location.
  .span-4#lead_box.member_background Members
  .span-20.last
    %h2 Track memberships and activity
    %p  TM Schedule takes the hard work out of getting your membership roles up to date, knowing who's eligible for awards and helping you get them to the next stage
  .span-4#lead_box.meeting_background Meetings
  .span-20.last
    %h2 Get the calendar to work for you
    %p  Now you'll know when the next meeting is, who's filling which roles, and TM Schedule will take care of notifying all participants.  Want a simple way to notify guests and future members that a meeting is coming up?  Use TM Schedule!
  .span-4#lead_box.meeting_background Meetings
  .span-20.last
    %h2 Get the calendar to work for you
    %p  Now you'll know when the next meeting is, who's filling which roles, and TM Schedule will take care of notifying all participants.  Want a simple way to notify guests and future members that a meeting is coming up?  Use TM Schedule!
 
