= content_for :top_title do
  = "TM Schedule Me"

.span-24
  .span-4#lead_box.club_background Pricing
  .span-20.last
    %h2 TM Schedule Price plans are very simple.
    .span-20.last
      .span-4.prepend-1
        %h3 Starter
      .span-15.last
        %ul.pricing
          %li Unlimited Members
          %li Unlimited Speeches and meeting roles
          %li Unlimited Meetings  
    .span-20.last
      .span-4.prepend-1
        %h3 Essential
      .span-15.last
        %ul.pricing
          Everything in Starter plus +
          %li E-mail Notifications to members 
          %li E-mail support
    %h2 Rates
    .span-18.prepend-1.last
      %table.pricing
        %th Subscription
        %th.number Monthly
        %th.number Six Months
        %th.number Annual
        %tr
          %td Starter
          %td.number $6
          %td.number $30
          %td.number $54
        %tr
          %td Essential
          %td.number $8
          %td.number $40
          %td.number $72
        %tr
          %td 
          %td.italic  
          %td.italic One Month Free
          %td.italic Two Months Free
        %tr
          %td 
          %td.italic Easy to pay
          %td.italic Matches Memberships 
          %td.italic Biggest savings!
