= content_for :top_title do
  = "TM Schedule Me"

.span-24
  .span-4#lead_box.club_background Pricing
  .span-20.last
    %h2 TM Schedule Price plans are very simple.
    .span-20.last
      .span-4.prepend-1
        %h3 Starter
      .span-15.last
        %ul
          %li Unlimited Members
          %li Unlimited Speeches and meeting roles
          %li Unlimited Meetings  
    .span-20.last
      .span-4.prepend-1
        %h3 Essential
      .span-15.last
        %ul
          Everything in Starter plus +
          %li E-mail Notifications to members 
          %li E-mail support
    %h2 Rates
    .span-20.last
      %p 
        Pay six months in advance and get a month free.  Pay a full year in advance and your club will get 
        three months free.
    .span-18.prepend-2.last
      %table
        %th Benefits
        %th Essential
        %th Starter
        %tr
          %td Monthly
          %td $8
          %td $6 
        %tr
          %td Six Months (One Free!)
          %td $40
          %td $30 
        %tr
          %td Twelve Months (Three Free!)
          %td $72
          %td $54
