= content_for :top_title do
  = "TM Schedule Me"

.span-24
  .span-4#lead_box.club_background Pricing
  .span-20.last
    %h2 Pricing on TM Schedule is simple.  
    %p  Getting started with a new club brings a lot of challenges.  Figuring out how to handle your membership, keep everyone in touch and sharing the news should be the least of your worries.
    %p  