= content_for :top_title do
  = "TM Schedule Me"

.span-24
  .span-4#lead_box.club_background Pricing
  .span-20.last
    %h2 TM Schedule Price plans are simple and the first 30 days are free.
    %p For a monthly, biannual or annual subscription, your club will get these benefits:
    .span-20.last
      .span-15.prepend-1.last
        %ul.pricing
          %li Unlimited Members
          %li Unlimited Speeches and meeting roles
          %li Unlimited Meetings  
          %li E-mail Notifications to members 
          %li E-mail support
    %h2 Rates
    %p You can pay monthly, but the farther you pay ahead, the more you will save.
    %p Remember, we won't start billing until the first 30 days have past - try TM Schedule Risk free!  If you don't like it, deactivate your club and we won't charge you.
    .span-18.prepend-1.last
      %table.pricing
        %th Period
        %th Rate
        %th.number Savings
        %tr
          %td Monthly
          %td.number $8
          %td.number -
        %tr
          %td Every Six Months (Biannual)
          %td.number $40
          %td.italic One Month Free
        %tr
          %td Annual
          %td.number $72
          %td.italic Two Months Free
