= content_for :top_title do
  = "TM Schedule Me"

.span-24
  .span-4#lead_box.member_background Member
  .span-20.last
    .span-4#lead_box
      (New member)
    .span-16.last
      %h2 New member in an existing club
      %p You're a guest or interested in joining a club already using this service. That's great! 
      %p Signing up is easy - use the search form to find your club and click the "I want to join" button.  The club administrator will take care of the rest for you.
    .span-4#lead_box
      (New club)
    .span-16.last
      %h2 Start a new club as administrator
      %p Welcome to TM Schedule.  We'll help you take your club adminstration to the next level.  
