%h1 Listing agendas

%table
  %tr
    %th
    %th
    %th

  - @agendas.each do |agenda|
    %tr
      %td= link_to 'Show', agenda
      %td= link_to 'Edit', edit_agenda_path(agenda)
      %td= link_to 'Destroy', agenda, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New agenda', new_agenda_path
