<form action="https://authorize.payments-sandbox.amazon.com/pba/paypipeline" method="post">
  <input type="hidden" name="returnUrl" value="http://localhost:3000/billings/confirm_payment" >
  <input type="hidden" name="processImmediate" value="1" >
  <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
  <input type="hidden" name="collectShippingAddress" value="0" >
  <input type="hidden" name="isDonationWidget" value="0" >
  <input type="hidden" name="amazonPaymentsAccountId" value="XFDBEXIHXUPJ569F684ESGKPSPLZEEKLEMT7EK" >
  <input type="hidden" name="referenceId" value="Monthly" >
  <input type="hidden" name="cobrandingStyle" value="logo" >
  <input type="hidden" name="immediateReturn" value="1" >
  <input type="hidden" name="amount" value="USD 8" >
  <input type="hidden" name="description" value="Monthly Subscription Fee" >
  <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/beige_medium_paynow_withmsg_whitebg.gif" border="0">
</form>
