%span.span-4
  %span.span-4.edit_label.meeting_background  Meeting
  %span.span-4= @meeting.meeting_date
%span.span-16
  %h2.span-6.last
    Changing Roles
  = render 'form'

= link_to 'Show', @role
\|
= link_to 'Back', roles_path
