%span.span-4
  %span#lead_box.span-4.edit_label.meeting_background  Meeting Role
%span.span-16
  %h2.span-16#lead_box
    Changing Roles for 
    = @meeting.meeting_date_pretty
  .span-12
    = render 'form'