%span.span-4#lead_box
  %span.span-4.edit_label.meeting_background  Meeting
%span-16
  .span-16#lead_box
    = link_to @meeting.meeting_date_pretty, meeting_path(@meeting), :style => 'text-decoration: none'
  .span-16#lead_box
    Add a Role:
  .span-16.prepend-4
    = render 'form'

/ = link_to 'Back', roles_path
