.span-3#nav_box.member_background 
  = link_to 'My Profile', current_user
.span-3#nav_box.club_background 
  = link_to 'My Club', current_club 
.span-3#nav_box.meeting_background
  = link_to 'Meetings', meetings_path 
.span-3#nav_box.member_background
  = link_to 'Members', members_path
