- if session[:member_id]
  #nav_box
    .span-3.member_background
      = link_to 'My Info', current_user
    .span-3.club_background
      = link_to 'My Club', current_club
    .span-3.meeting_background
      = link_to 'Meetings', meetings_path 
