- if current_user 
  #nav_box
    .span-2.member_background
      = link_to 'Me', current_user
    .span-2.club_background
      = link_to 'Club', current_club
    .span-3.meeting_background
      = link_to 'Calendar', meetings_path 
    .span-3.member_background
      = link_to 'Members', memberships_path 
