%h1 Toast Schedule Members

%table
  %tr
    %th Name
    %th Action
    %th
  - @members.each do |member|
    %tr
      %td= link_to member.name, member

%br

= link_to 'New Member', new_member_path
