%span.span-4
  .span-4#header_box.member_background Members
%span.span-16
  %span.span-last#header_box= link_to @club.name + " Members", @club 
  %table
    %tr
      %th Name
      %th
    - @members.each do |member|
      %tr
        %td= link_to member.name, member
  = link_to 'New Member', new_member_path
  
%br

