%span.span-4
  .span-4#header_box.member_background Members
  .span-4= link_to '(+ New Member)', new_member_path
%span.span-16
  %table
    %tr
      %th Name
      %th
    - @members.each do |member|
      %tr
        %td= link_to member.name, member
  
%br

