%h1= @club.name
%h2 Members

%table
  %tr
    %th Name
    %th
  - @members.each do |member|
    %tr
      %td= link_to member.name, member

%br

= link_to 'New Member', new_member_path
= link_to 'Club Details', @club
