%div#header_box.span-16
  %span.member_background.span-4 Member
  %span.span-8= @member.name
  %span.span-2= link_to 'Edit', edit_member_path(@member)
%hr
%div#content_box.span-16
  %span.club_background.span-4 
    %h3 Clubs
  %span.span-8
    %table
      = render :partial => 'club', :collection => @clubs
%hr
%div#content_box.span-16
  %span.meeting_background.span-4 
    %h3 Meetings
  %span.span-11
    %table
      %tr
        %th Date
        %th Role
      = render :partial => 'role', :collection => @member.roles